*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
}

body{
    margin: 0;
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 95%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

button{
    cursor: pointer;
}

